@import "tailwindcss";

@keyframes colorChange {
  0% {
    color: #1e3a8a; /* red-600 */
  }
  50% {
    color: #ef4444; /* amber-500 */
  }
  100% {
    color: #1e3a8a; /* red-600 again */
  }
}

.animate-color-change {
  animation: colorChange 1.5s linear infinite;
}


@layer base {
    html, body {
        @apply h-full;
    }
    
    body {
        @apply flex flex-col h-full ;
    }
    
    header {
        @apply justify-center bg-gradient-to-r from-slate-500 via-70% via-zinc-200 to-slate-500 justify-items-center h-fit sticky top-0 z-50;
    }
    
    main {
        @apply flex-1; /* Bỏ comment sai cú pháp */
    }
    
    footer {
        @apply justify-items-center bg-black text-amber-50 ;
    }
}